@font-face {
    font-family: "Montserrat";
    src: url("../fontes/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --primary-color: #BF0101;
    --secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Montserrat";
    font-weight: var(--title-weight);
    color: var(--primary-color);
}